<div class="center-content"> 
    <button mat-mini-fab color="accent" [routerLink]="['/create/track']">
        <mat-icon>add</mat-icon>
    </button> 
</div>

<div class="track-search">      
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">   
        <table cellspacing="0">
          <tr>
            <td>                         
              <mat-form-field appearance="outline" class="search-term-form-field">
                <mat-label>Search track</mat-label>
                <input matInput type="text" formControlName="searchTerm">                
                <button matSuffix mat-icon-button aria-label="Clear" type="submit">
                  <mat-icon>search</mat-icon>
                </button>                       
              </mat-form-field>
            </td>
              
          </tr> 
          <tr>
            <td> 
              <mat-chip-listbox formControlName="type">
                <mat-chip-option color="accent" value="0">Titel</mat-chip-option>
                <mat-chip-option color="accent" value="1">Artist</mat-chip-option>
                <mat-chip-option color="accent" value="2">Genre</mat-chip-option>
              </mat-chip-listbox> 
            <td>
          </tr>       
        </table>      
    </form>   
</div>

<div class='track-card' *ngFor="let track of tracks; let i=index">
    <mat-card>
        <mat-card-header>{{track.titel}}</mat-card-header>
        <div class='test' *ngFor="let artist of track.artists; let j=index">
            <mat-card-subtitle>{{artist.name}}</mat-card-subtitle>  
        </div>
              
        <mat-card-actions align="end">  
            <button mat-button (click)="openDialogDeleteTrack(track.trackId)">Delete</button>
            <button mat-button [routerLink]="['/track', track.trackId]">Edit</button>
        </mat-card-actions>
    </mat-card>   
</div>